<h1>logged in</h1>
<div>
	<%= flash[:notice] %>
</div>
<div>
	<% if @user %>
		<%= @user.name%>
	<% end %>
</div>

<%if @user.role == 'admin'%>
	<%= link_to "Employee List", employees_path %>
	<%= link_to "Create New Employee", new_employee_path%>
	<%= link_to "Leave requests", leaverecords_path%>
<% end %>

<%= link_to "New Leave request", new_leaverecord_path%>

<%= button_to "logout", logout_path, method: :delete %>