<h1>logged in</h1>
<div>
	<%= flash[:notice] %>
</div>
<div>
	<% if @user %>
		<%= @user.name%>
	<% end %>
</div>
<%if @employees%>
	<div>
	<table>
		<tr>
		<td>Name</td>
		<td>Address</td>
		<td>Contact</td>
		<td>Role</td>
		<td>Email</td>
		<tr>
		<%@employees.each do|a|%>
			<tr>
				<td><%= a.name%></td>
				<td><%= a.address%></td>
				<td><%= a.contact%></td>
				<td><%= a.role%></td>
				<td><%= a.email%></td>
				<td></td>
				<td></td>
			</tr><br>
		<% end %>
	</table>
	</div>
<% end %>
<%if @user.role == 'admin'%>
<%= link_to "Create New Employee", new_employees_path%>
<% end %>
<%= button_to "logout", logout_path, method: :delete %>