<h2>Edit Leave request</h2>
  
<%= form_with model: @leaverecords do |form|%>
  <div class ="d-flex flex-column align-content-center justify-content-center p-1">
  	
		<div class="field p-2">
  	  <%= form.label :date_from %>
  	  <%= form.date_field :date_from, :readonly => true%>
  	</div>

  	<div class="field p-2">
  	  <%= form.label :date_to %>
  	  <%= form.date_field :date_to, :readonly => true %>
  	</div>

  	<div class="field p-2">
  	  <%= form.label :description %>
  	  <%= form.text_field :description, :readonly => true %>
  	</div>
		<!--Status-->
		<%if current_user.role == 'admin' %>
			<div class="field p-2">
				<%= form.label :status %>
				<%= form.select :status, [["Approval Pending", "Approval Pending"], ["Accepted", "Accepted"], ["Rejected", "Rejected"]] %>
			</div>
		<% end %>

		<!--approval by-->

		<%if current_user.role == 'admin'%>
  		<div class="field p-2">
				<%= form.text_field :approval_by, value: current_user.name, :hidden => true %>
  	  </div>
		<% end %>
  </div>

  	<%= form.submit %>
	
<%end%>

<% if @leaverecords.errors.any? %>
  <ul>
    <% @leaverecords.errors.each do |error| %>
      <li><%= error.full_message %></li>
    <% end %>
  </ul>
<% end %> 
<%if notice%>
	<%= flash[:notice] %>
<%end%>
