
<h2>Leave requests</h2>
<div class="table_block">
<% if !@leaverecords.empty? %>
<table>
		<tr>
		<th>Employee Name</th>
		<th>Date From</th>
		<th>Date To</th>
		<th>Description</th>
		<th>Status</th>
		<th>Approval by</th>
		</tr>
		<% @leaverecords.each do |leaverecords| %>
			<tr>
				<td><%= leaverecords.user.name%></td>
				<td><%= leaverecords.date_from%></td>
				<td><%= leaverecords.date_to%></td>
				<td><%= leaverecords.description%></td>
				<td><%= leaverecords.status %></td>
				<td><%= leaverecords.approval_by%></td>
				<% if leaverecords.status == 'Approval Pending'%>
				<td><%= link_to "Edit", edit_leaverecord_path(leaverecords)%></td>
				<% end %>
			</tr>
		<% end %>
</table>
<% end %>
</div>

