
<h2>Employee Leave requests</h2>

<% if !@leaverecords.empty? %>
<table class="table table-striped p-1">
  <thead>
    <tr>
			<th scope="col">Employee_name</th>
      <th scope="col">Date_from</th>
      <th scope="col">Date_to</th>
      <th scope="col">Description</th>
			<th scope="col">Status</th>
			<th scope="col">Requested Admin</th>
			
    </tr>
  </thead>
  <tbody>
    	<% @leaverecords.each do |leaverecords| %>
			<tr>
				<td><%= leaverecords.user.name%></td>
				<td><%= leaverecords.date_from%></td>
				<td><%= leaverecords.date_to%></td>
				<td><%= leaverecords.description%></td>
				<td>
					<%= render 'edit_form', leaverecords: leaverecords%>
					</td>
				<td><%= leaverecords.approval_by%></td>
			
			</tr>
		<% end %>
  </tbody>
</table>

<% end %>


