<h2>Leave requests</h2>
<table>
		<tr>
		<td>Employee Id</td>
		<td>Date From</td>
		<td>Date To</td>
		<td>Description</td>
		<td>Status</td>
		<td>Approval by</td>
		<tr>
		<% @leaverecords.each do |leaverecords| %>
			<tr>
				<td><%= leaverecords.employee_id%></td>
				<td><%= leaverecords.date_from%></td>
				<td><%= leaverecords.date_to%></td>
				<td><%= leaverecords.description%></td>
				<td><%= leaverecords.status %></td>
				<td><%= leaverecords.approval_by%></td>
				<td><%= link_to "Edit", edit_leaverecord_path(leaverecords)%></td>
			</tr><br>
		<% end %>
</table>
