
<h2>My Leave Requests</h2>

<%if !@leaverecords.empty? %>
<table class="table table-striped p-1">
  <thead>
    <tr>
      <th scope="col">Date_from</th>
      <th scope="col">Date_to</th>
      <th scope="col">Description</th>
			<th scope="col">Status</th>
			<th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @leaverecords.each do |leaverecords|%>
			<tr>
				<td><%= leaverecords.date_from%></td>
				<td><%= leaverecords.date_to%></td>
				<td><%= leaverecords.description%></td>
				<td><%= leaverecords.status %></td>
				<% if leaverecords.status == 'Approval Pending'%>
					<td><%= link_to "Delete", leaverecords, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></td>
    	  <% end %>
    	</tr>
    <% end %>
  </tbody>
</table>

<% end %>

