<h2>My attendence log</h2>
<% if !@attendences.empty? %>
<div class="table_block">
<table>
	<tr>
		<th>Date</th>
		<th>Check In</th>
		<th>Check Out</th>
		<th>Duration</th>
	</tr>
  <% @attendences.each do |attendences| %>
  	<tr>
		<td><%= attendences.date %></td>
		<td><%= attendences.check_in %></td>
  	<td><%= attendences.check_out %></td>
		<td><%= attendences.duration %></td>
		</tr>
  <% end %>
</table>
</div>
<% end %>
<%= link_to "Back to Dashboard", dashboard_path%>