
<header>
  <div class ="left"> 
	<%if user_signed_in? %>
  	<h2><%= link_to 'Leave Management System', dashboard_path, class:'link'%></h2>
	<%else%>
		<h2><%= link_to 'Leave Management System', root_path, class:'link'%></h2>
	<%end%>
  </div>
	<div class = "right">
		<% if user_signed_in? %>
			<%if current_user.avatar.attached?%>
				<div>
					<%=image_tag url_for(current_user.avatar), style:'width:60px;height:50px;border-radius:50%'%>
				</div>
			<%else%>
				<div style="width:30px;height:30px;background-color:red;text-align:center;border-radius:50%">
					<%= current_user.name[0] %>
				</div>
			<%end%>
			<div>
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <%= current_user.name%>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						<%= link_to "Profile", profile_path, class:'dropdown-item' %>
            <%= link_to "Account Settings", edit_user_registration_path, class:'dropdown-item' %>
						<li><hr class="dropdown-divider"></li>
            <li>
							<%= link_to "Logout", destroy_user_session_path, method: :delete, class:'dropdown-item' %>
						</li>
          </ul>
        </li>
  		</ul>	
			</div>
		<% end %>
	</div>
</header>
