<%if user_signed_in?%>
	<nav class="navbar navbar-expand-lg navbar-light bg-light" style="border-radius:20px">
  	<div class="container-fluid">
		<%= link_to "Home", dashboard_path, class:'nav-link'%>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  	  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
  	    <div class="navbar-nav">
						<%if current_user.role == 'admin'%>
							<li class="nav-item dropdown">
        			  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        			    Employee Section
        			  </a>
        			  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
									<%= link_to "Employee List", users_path, class:"dropdown-item" %>
									<%= link_to "Invite new Employee", new_user_invitation_path, class:"dropdown-item" %>
        			  </ul>
        			</li>
						<% end %>
						<li class="nav-item dropdown">
        			  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        			    Leave Section
        			  </a>
        			  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
									
									<%= link_to "New Leave request", new_leaverecord_path, class:"dropdown-item" %>
									<%= link_to "Applied request", leaverecord_path(current_user), class:"dropdown-item"  %>
									
									<% if current_user.role == 'admin' %>
        			    	<li><hr class="dropdown-divider"></li>
        			    	<li>
											<%= link_to "Employee Leave requests", leaverecords_path, class:"dropdown-item" %>
										</li>
									<% end %>
        			  </ul>
        			</li>


						
						
						<%= link_to "Attendence log", attendence_path(current_user), class:"nav-link" %>
  	    </div>
  	  </div>
  	</div>
	</nav>
<%end%>